---
import type { PageInfo } from "@data/page";
import "./navbar-option.css";

interface Props {
  page: PageInfo;
}

const { page } = Astro.props;
const {pathname} = Astro.url
---

<li class="navbar-option" class:list={[{"navbar-option--active": pathname === page.url}]}>
  <a class="navbar-option__link" href={page.url} >
    {page.label}
  </a>
</li>
