.navbar-option {
  padding: 10px;
  list-style: none;
  padding: 10px 20px;
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: background-color var(--transition-ease-slow);
  &:hover {
    background-color: var(--grey-900);
    & .navbar-option__link {
      color: var(--grey-100);
    }
  }
  &--active {
    & .navbar-option__link {
      color: var(--grey-100);
      &::after {
        content: "";
        position: absolute;
        margin: 0px auto;
        top: 18px;
        left: 0px;
        right: 0px;
        height: 1px;
        width: 20px;
        background: var(--grey-100);
        transition: opacity var(--transitions-duration) ease-in-out;
      }
    }
  }
  &__link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--grey-500);
    font-size: var(--fs-sm);
    background-color: transparent;
    letter-spacing: 1.2px;
    transition: color var(--transition-ease-slow);
  }
}
