@media (min-width: 760px) {
  .main--contact {
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

.contact {
  &__heading {
    font-family: var(--fonts-heading);
    font-size: var(--fs-3xl);
    font-weight: 700;
    background-image: linear-gradient(
      135deg,
      var(--teal-200-accent) 0%,
      var(--lime-100-accent) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    &__description {
      font-size: var(--fs-md);
      color: var(--grey-400);
      margin: var(--space-s) 0;
      line-height: 2;
      font-weight: 500;
    }
  }
  &__form {
    display: contents;
    &__section {
      display: grid;
      grid-template-columns: repeat(1fr 2);
      grid-template-rows: 40px 40px 1fr 40px;
      gap: 20px;
      flex-grow: 1;
      margin-top: var(--space-l);
    }
  }
  &__input {
    border: unset;
    padding: 10px;
    background-color: var(--grey-900);
    border-radius: var(--radius-md);
    caret-color: var(--grey-400);
    border: 1px solid var(--grey-900);
    font-size: var(--fs-md);
    color: var(--grey-100);
    transition: border-color var(--transition-ease-slow);
    &::placeholder {
      font-family: var(--fonts-body);
      color: var(--grey-500);
    }
    &:focus {
      outline: unset;
      border: 1px solid var(--teal-200-accent);
    }
    &[name="name"] {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
    &[name="email"] {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
    &[name="subject"] {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
    }
    &--textarea {
      resize: none;
      grid-row: 3 / 4;
      grid-column: 1 / 3;
    }
    &--submit {
      cursor: pointer;
      grid-row: 4 / 5;
      grid-column: 2 / 3;
      color: var(--grey-900);
      border-color: var(--grey-300);
      background-color: var(--grey-300);
      transition: all var(--transition-ease-slow);
      &:hover {
        color: var(--grey-100);
        background-color: transparent;
        border-color: var(--teal-200-accent);
      }
    }
  }
}
