@media (min-width: 760px) {
  .main--index {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.index {
  &__content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &__name {
      color: var(--grey-300);
      font-family: var(--fonts-heading);
      font-size: var(--fs-3xl);
      font-weight: 700;
      letter-spacing: 1.2px;
    }
    &__title {
      color: var(--grey-400);
      font-size: var(--fs-md);
      font-weight: 400;
      margin: var(--space-s) 0;
      font-family: var(--fonts-body);
      text-transform: uppercase;
    }
  }
  &__image {
    width: var(--content-3xl);
    height: var(--content-3xl);
    overflow: hidden;
    border-radius: var(--radius-full);
    transform: translateX(10%);
    border: var(--border-xl) solid var(--grey-800);
    & > img {
      object-fit: cover;
      width: var(--content-3xl);
      height: var(--content-3xl);
    }
  }
}
