$dark-background: rgba(29,29,29,1);
$dark-backtext: rgba(255,255,255,.05);
$dark-sectext: rgba(97, 97, 97, 1);
$pink: #ff0b56;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-snap-type: y mandatory;
}

body {
    scroll-snap-type: y mandatory;
    overscroll-behavior-y: none;
}

.grecaptcha-badge {
    visibility: hidden
}

@import "partials/layout/section1";
@import "partials/layout/section2";
@import "partials/layout/section3";
@import "partials/layout/section4";
@import "partials/layout/section5";
@import "partials/layout/loading";

@import "partials/components/navigation";
@import "partials/components/filler";
@import "partials/components/section";
@import "partials/components/heading";
@import "partials/components/subheading";
@import "partials/components/card";
@import "partials/components/card2";
@import "partials/components/arrow";
@import "partials/components/social";
@import "partials/components/contact";
@import "partials/components/carousel";