---
import CareerCard from "@component/career-card/CareerCard.astro";
import "./career-track.css";
---

<ol class="career-track">
  <li class="career-track__item">
    <CareerCard
      designation="Software Engineer"
      location="Bengaluru, India"
      company="Soroco"
      startDate="Aug 2021"
    />
  </li>
  <li class="career-track__item">
    <CareerCard
      designation="Core Contributor"
      location="Remote"
      company="The Tor Project"
      startDate="Jul 2023"
    />
  </li>
  <li class="career-track__item">
    <CareerCard
      designation="Business Analyst Intern"
      location="Gurugram, India"
      company="Collegedunia"
      startDate="Jan 2020"
      endDate="July 2020"
    />
  </li>
</ol>
