---
import CareerCard from "@component/career-card/CareerCard.astro";
import type { CollectionEntry } from "astro:content";
import "./career-track.css";

interface Props {
  experiences: CollectionEntry<"experience">[];
}

const { experiences } = Astro.props;
---

<ol class="career-track">
  {
    experiences.map((experience) => (
      <li class="career-track__item">
        <CareerCard
          experience={experience}
          url={`/experience/${experience.slug}`}
        />
      </li>
    ))
  }
</ol>
