---
import Body from "@layout/body/Body.astro";
import Head from "@layout/head/Head.astro";
import Header from "@layout/header/Header.astro";
import "@style/reset.css"
import "@style/typography.css"
import "@style/colors.css"
import "@style/variables.css";
import "@style/global.css"

import "./layout.css"

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />
  <Body>
    <Header></Header>
      <slot />
  </Body>
</html>
