---
import { DEFAULT_ARTICLE_COVER } from "@data/defaults";
import { Image } from "astro:assets";
import "./card.css";

interface Props {
  title: string;
  description: string;
  coverImgPath?: string;
}

const {
  title,
  description,
  coverImgPath = DEFAULT_ARTICLE_COVER,
} = Astro.props;

/* Dynamically importing images */
const images = import.meta.glob("/src/assets/images/*.{jpg,jpeg,png,svg}");
---

<div class="card">
  <Image
    class="card__image"
    src={images[coverImgPath]()}
    alt={title}
    width={384}
    height={196}
  />
  <h2 class="card__title">The two types of quality</h2>
  <p class="card__description">{description}</p>
</div>
