---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import "./card.css";

interface Props {
  title: string;
  description: string;
  image: {
    src?: unknown; // TODO: Remove optional once Astro bug is fixed
    alt?: string; // TODO: Remove optional once Astro bug is fixed
  };
  url: string;
}

const { title, description, image, url } = Astro.props;
---

<a class="card" href={url}>
  <Image
    class="card__image"
    src={image.src as ImageMetadata}
    alt={image.alt}
    format="avif"
    height={196}
    width={384}
  />
  <h2 class="card__title">{title}</h2>
  <p class="card__description">{description}</p>
</a>
