.Component__Card {
	box-sizing: border-box;
	width: calc(100% - 2rem);
	opacity: 1;
	background-color: $dark-backtext;
	border-radius: 0.5rem;
	min-height: 6.8rem;
	margin: 1rem 0 1rem 2rem;
	border-left: 4px solid rgba(255, 11, 86, 1);
	transition: border-left-width 0.25s ease-in-out;
	padding: 1rem 2rem;
	&:hover {
		border-left-width: 8px;
		.Component__Card__Summary {
			padding-right: 0;
		}
	}
	&__Header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__Details {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		font-family: 'Baloo 2', cursive;
		&__Position {
			color: rgb(204, 204, 204);
			font-size: 1.4rem;
			line-height: 1.5rem;
			margin-bottom: 0.4rem;
		}
		&__Institute {
			color: $dark-sectext;
			font-size: 1.2rem;
			line-height: 1.2rem;
		}
	}
	&__Duration {
		font-family: 'Baloo 2', cursive;
		color: $dark-sectext;
		font-size: 1.2rem;
		line-height: 1.2rem;
		letter-spacing: -0.05rem;
	}
	&__Summary {
		margin-top: 1rem;
		font-family: 'Baloo 2', cursive;
		color: rgb(106, 106, 106);
		font-size: 1.05rem;
		padding-right: 5px;
	}
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
	.Component__Card {
		width: calc(100% - 2rem);
		margin: 1.25rem 0 1.25rem 1rem;
		border-radius: 1rem;
		transition: all 200ms ease-in;
		max-height: 50rem;
		&--Collapsed {
			max-height: 10rem;
			.Component__Card__Summary {
				display: none;
				opacity: 0;
			}
		}
		&:hover {
			border-left-width: 4px;
		}
		&__Header {
			margin-top: 1rem;
		}
		&__Details {
			height: 100%;
			justify-content: center;
			&__Position {
				font-size: 2rem;
				line-height: 2.25rem;
			}
			&__Institute {
				font-size: 1.8rem;
				line-height: 1.8rem;
			}
		}
		&__Duration {
			display: none;
		}
		&__Summary {
			font-size: 1.5rem;
			padding-right: 0;
			display: block;
			opacity: 1;
		}
	}
}
