@keyframes marquee {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(-50%, 0);
	}
}

.Component-Carousel {
    position: relative;
    width: 50%;
    overflow-y: hidden;
    &-Overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: linear-gradient(90deg, rgba(29,29,29,1) 0%, rgba(29,29,29,0.1) 20%, rgba(29,29,29,0) 100%);
        z-index: 5;
    }
	&-Text {
        box-sizing: border-box;
		display: flex;
        height: 100vh;
		flex-direction: column;
		justify-content: space-around;
		overflow-x: hidden;
        overflow-y: hidden;
        padding: 2rem 0;
        z-index: 4;
	}
    &-Item {
        font-family: 'Baloo 2', cursive;
        margin: 0 0.5rem;
        &.bright {
            color: rgba(255, 11, 86, 1);
            font-size: 1.2rem;
        }
        &.muted {
            color: rgba(255, 11, 86, 0.6);
            font-size: 1.1rem;
        }
        &.dim {
            color: $dark-sectext;
            font-size: 1rem;;
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
    .Component-Carousel {
        &-Text {
            padding: 2rem 0;
        }
    }
}
