.Component-Card {
    box-sizing: border-box;
    width: calc(100% - 2rem);
    height: 6.8rem;
    opacity: 1;
    background-color: $dark-backtext;
    border-radius: 0.5rem;
    margin: 0.5rem 0 0.5rem 2rem;
    border-left: 5px solid rgba(255,11,86,1);
    transition: border-left-width 0.25s ease-in-out;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover {
        border-left-width: 10px;
    }
    &-Details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        font-family: 'Baloo 2', cursive;
        &-Position {
            color: rgb(204, 204, 204);
            font-size: 1.4rem;
            line-height: 1.5rem;
            margin-bottom: 0.4rem;
            
        }
        &-Institute {
            color: $dark-sectext;
            font-size: 1.2rem;
            line-height: 1.2rem;
        }
    }
    &-Duration {
        font-family: 'Baloo 2', cursive;
        color: $dark-sectext;
        font-size: 1.2rem;
        line-height: 1.2rem;
        letter-spacing: -0.05rem;
    }
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
    .Component-Card {
        height: 12rem;
        width: 100%;
        margin: 1rem 0 1rem 0rem;
        &-Details {
            height: 100%;
            justify-content: center;
            &-Position {
                font-size: 2.25rem;
                line-height: 2.25rem;
            }
            &-Institute {
                font-size: 1.8rem;
                line-height: 1.8rem;
            }
        }
        &-Duration {
            display: none;
        }
    }
}