.Component-Filler {
    position: absolute;
    height: 100%;
    width: 100vw;
    z-index: 1;
}

.circle {
    border-radius: 50%;
    border: 3px rgba(255,255,255,.05) dotted;
    position: absolute;
  
    &.one {
      width: 300px;
      height: 300px;
      right: -25px;
      top: -10px;
    }
    &.two {
      width: 275px;
      height: 275px;
      right: -10px;
    }
    &.three {
      width: 200px;
      height: 200px;
      right: 0;
      top: 20px;
    }
    &.four {
      width: 375px;
      height: 375px;
      right: 180px;
      top: -210px;
    }
    &.five {
      width: 100px;
      height: 100px;
      right: 20px;
      top: 40px;
    }
    &.six {
      width: 175px;
      height: 175px;
      right: 200px;
      top: -100px;
    }
    &.seven {
      width: 300px;
      height: 300px;
      top: -150px;
      right: 200px;
    }
    &.eight {
      width: 250px;
      height: 250px;
      top: -120px;
      right: 200px;
    }
    &.nine {
      width: 400px;
      height: 400px;
      top: -50px;
      right: -50px;
    }
    &.ten {
      width: 135px;
      height: 135px;
      right: 20px;
      top: 300px;
    }
    &.eleven {
      width: 145px;
      height: 145px;
      right: 20px;
      top: 300px;
    }
    &.twelve {
      width: 55px;
      height: 55px;
      right: 40px;
      top: 340px;
    }
    &.thirteen {
      width: 255px;
      height: 255px;
      right: 0px;
      top: 250px;
    }
    &.fourteen {
      width: 220px;
      height: 220px;
      right: -10px;
      top: 20px;
    }
  }