.Component-Heading {
    position: absolute;
    color: $dark-backtext;
    font-family: 'Baloo 2', cursive;
    font-size: 12rem;
    line-height: 12rem;
    letter-spacing: -0.5rem;
    font-weight: 800;
    margin-left: 6rem;
    margin-top: 2rem;
    z-index: 1;
}