.Component-Kanban {
    &-Section {
        background-color: rgba(255,255,255,.05);
        height: 100%;
        width: 380px;
        border-radius: 1rem;
        display: inline-flex;
        flex-direction: column;
        overflow: hidden;
        transition: background-color 0.5s ease;
        &:hover {
            background-color: rgba(255,255,255,.1);
        }
        &-Title {
            &-Container {
                // border-bottom: 5px solid $dark-background;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
            }
            &-Text {
                color: $pink;
                font-family: 'Baloo 2', cursive;
                text-transform: uppercase;
                text-align: center;
                font-size: 1.5rem;
                line-height: 1.5rem;
                font-weight: 600;
                opacity: 0.8;
            }
        }
        &-Skills {
            &-Container {
                padding: 1rem;

            }
        }
    }
}