.Component-Section {
    position: relative;
    width: 100%;
	transform: translate3d(0, 0, 0);
	overflow-y: hidden;
	height: 100vh;
	scroll-snap-align: start;
	display: grid;
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
	.Component-Section {
		&.Hero {
			height: 80%;
		}
		height: auto;
		// scroll-snap-align: start;
		// scroll-snap-stop: always;
		display: block;
		min-height: auto;
	}
}
