.Component-Section {
    position: relative;
    width: 100vw;
	transform: translate3d(0, 0, 0);
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100vh;
	scroll-snap-align: center;
	display: grid;
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
	.Component-Section {
		&.Hero {
			height: 80%;
		}
		height: auto;
		display: block;
		min-height: auto;
	}
}
