@keyframes move-in {
    from {
        transform: translateY(5rem);
    }
    to {
        transform: translateY(0rem);
    }
  }

@keyframes move-out {
    from {
        transform: translateY(0rem);
    }
    to {
        transform: translateY(-5rem);
    }
  }

.App-Loading {
    background-color: rgba(29,29,29,1);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5rem 8rem;
    &-Container {
        height: 3rem;
        width: 100%;
        overflow-y: hidden;
        text-align: end;
    }
    &-Image {
        display: none;
    }
    &-Text {
        font-family: sans-serif;
        font-family: sans-serif;
        color: $dark-sectext;
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 2.5rem;
        &.Enter{
            animation: move-in;
            animation-duration: 400ms;
        }
        &.Exit {
            animation: move-out;
            animation-duration: 800ms;
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
    .App-Loading {
        &-Text {
            font-size: 4.5rem;
            line-height: 4.5rem;
            font-weight: 600;
        }
        &-Container {
            height: 4.5rem;
        }
    }
}

