.App-Section3 {
    &-Content {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 4rem 6rem;
        z-index: 2;
        justify-content: space-evenly;
        flex-direction: column;
        &-Projects {
            margin-bottom: 1rem;
            &-List {
                margin-top: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
            }
        }
        &-Articles {
            margin-top: 1rem;
            margin-bottom: 1rem;
            &-List {
                margin-top: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
            }
        }
        &-Achievements {
            margin-top: 1rem;
            &-List {
                margin-top: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 100%;
            }
        }
    }
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
    .App-Section3 {
        &-Content {
            padding: 4rem 2rem;
        }
    }
}