.App-Section3 {
    &-Content {
        box-sizing: border-box;
        position: absolute;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 4rem 10rem;
        z-index: 2;
        justify-content: space-evenly;
        flex-direction: column;
        &-Projects-List {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
        }
        &-Articles-List {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
        }
    }
}