.App__Section5 {
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 4rem 6rem;
	z-index: 2;
	justify-content: space-evenly;
	flex-direction: column;
	&__Projects {
		margin-bottom: 1rem;
		&__List {
			margin-top: 1.5rem;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			width: 100%;
		}
	}
	&__Achievements {
		margin-top: 1rem;
		&__List {
			margin-top: 1.5rem;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			width: 100%;
		}
	}
}

@media only screen and (min-width: 300px) and (max-width: 1000px) {
	.App__Section5 {
		padding: 0 2rem;
		margin-top: 6rem;
		height: auto;
		display: block;
		&__Projects {
			&__List {
				margin-top: 2.5rem;
				flex-direction: column;
			}
		}
		&__Achievements {
			margin-top: 6rem;
			&__List {
				margin-top: 2.5rem;
				flex-direction: column;
			}
		}
	}
}
