---
import { getPageInfo } from "@facade/page-info";
import Layout from "@layout/layout/Layout.astro";
import "@style/pages/about.css";

const pageInfo = await getPageInfo("about");
---

<Layout title="About // Sarthik Gupta">
  <main class="main main--about">
    <h1 class="about__heading">{pageInfo.data.title}</h1>
    <p class="about__heading__description">
      {pageInfo.data.description}
    </p>
  </main>
</Layout>

<!-- This Page will include -->

<!-- Experience -->
<!-- Projects -->
<!-- Acheivements -->
<!-- Education -->
