---
import { getPageInfo } from "@facade/page-info";
import Layout from "@layout/Layout.astro";

const pageInfo = await getPageInfo("about");

// This Page will include

// Experience
// Projects
// Acheivements
// Education
---

<Layout title="About // Sarthik Gupta">
  <main class="main main--about">
    <h1 class="about__heading">{pageInfo.data.title}</h1>
    <p class="about__heading__description">
      {pageInfo.data.description}
    </p>
  </main>
</Layout>

<style>
  @media (min-width: 760px) {
    .main--about {
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  .about {
    &__heading {
      font-family: var(--fonts-heading);
      font-size: var(--fs-3xl);
      font-weight: 700;
      background-image: linear-gradient(
        135deg,
        var(--purple-100-accent) 0%,
        var(--indigo-100-accent) 100%
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
      &__description {
        font-size: var(--fs-md);
        color: var(--grey-400);
        margin: var(--space-s) 0;
        line-height: 2;
        font-weight: 500;
      }
    }
    &__side-quests {
      display: flex;
      align-items: center;
      margin-left: calc(-1 * var(--space-s));
      margin-right: calc(-1 * var(--space-s));
    }
  }
</style>
