---
import Layout from "@layout/layout/Layout.astro";
import "@style/pages/about.css";
---

<Layout title="About // Sarthik Gupta">
  <main class="main main--about">
    <h1 class="about__heading">About. Skills. Social.</h1>
    <p class="about__heading__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus aperiam
      corrupti facere illo labore dolorem minima voluptas, expedita sit dolore
      dolor nostrum tempora doloribus!
    </p>
  </main>
</Layout>

<!-- This Page will include -->

<!-- Experience -->
<!-- Projects -->
<!-- Acheivements -->
<!-- Education -->
