---
import Layout from "@layout/layout/Layout.astro";
---

<Layout title="Career // Sarthik Gupta">
  <h1>This is the career page</h1>
</Layout>

<!-- This Page will include -->

<!-- Experience -->
<!-- Projects -->
<!-- Acheivements -->
<!-- Education -->
