---
import Card from "@component/card/Card.astro";
import CareerTrack from "@component/career-track/CareerTrack.astro";
import Section from "@component/section/Section.astro";
import Layout from "@layout/layout/Layout.astro";
import "@style/pages/career.css";

import { getExperiences } from "@facade/experience";
import { getSideQuests } from "@facade/side-quest";

const experiences = await getExperiences();
const sideQuests = await getSideQuests();
---

<Layout title="Career // Sarthik Gupta">
  <main class="main main--career">
    <h1 class="career__heading">Work. Quests. More.</h1>
    <p class="career__heading__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus aperiam
      corrupti facere illo labore dolorem minima voluptas, expedita sit dolore
      dolor nostrum tempora doloribus!
    </p>
    <Section title="Work Experience">
      <div class="career__experience">
        <CareerTrack experiences={experiences} />
      </div>
    </Section>
    <Section title="Side Quests">
      <div class="career__side-quests">
        {
          sideQuests.map((quest) => (
            <Card
              title={quest.data.title}
              description={quest.data.description}
              image={quest.data.image}
            />
          ))
        }
      </div>
    </Section>
  </main>
</Layout>

<!-- This Page will include -->

<!-- Experience -->
<!-- Projects -->
<!-- Acheivements -->
<!-- Education -->
