---
import { getPageInfo } from "@facade/page-info";
import Layout from "@layout/layout/Layout.astro";
import "@style/pages/contact.css";

const pageInfo = await getPageInfo("contact");
---

<Layout title="Contact // Sarthik Gupta">
  <main class="main main--contact">
    <h1 class="contact__heading">{pageInfo.data.title}</h1>
    <p class="contact__heading__description">
      {pageInfo.data.description}
    </p>
    <section class="contact__form__section">
      <form class="contact__form" method="post" action="/api/contact">
        <input
          class="contact__input"
          name="name"
          placeholder="Name"
          type="text"
          required
        />
        <input
          class="contact__input"
          name="email"
          placeholder="Email"
          type="email"
          required
        />
        <input
          class="contact__input"
          name="subject"
          placeholder="Subject"
          type="text"
          required
        />
        <textarea
          class="contact__input contact__input--textarea"
          name="message"
          placeholder="Message"></textarea>
        <button class="contact__input contact__input--submit" type="submit"
          >Send</button
        >
      </form>
    </section>
  </main>
</Layout>
