---
import Layout from "@layout/layout/Layout.astro";
import "@style/pages/contact.css";
---

<Layout title="Contact // Sarthik Gupta">
  <main class="main main--contact">
    <h1 class="contact__heading">Connect. Enquire. Follow.</h1>
    <p class="contact__heading__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus aperiam
      corrupti facere illo labore dolorem minima voluptas, expedita sit dolore
      dolor nostrum tempora doloribus!
    </p>
  </main>
</Layout>
