---
import Layout from "@layout/layout/Layout.astro";
import "@style/pages/index.css";
import { Image } from "astro:assets";

import profilePic from "@asset/images/profile-pic.webp";
---

<Layout title="Sarthik Gupta">
  <main class="main main--index">
    <div class="index__content">
      <h1 class="index__content__name">Sarthik Gupta</h1>
      <h2 class="index__content__title">Full Stack Developer</h2>
    </div>
    <div class="index__image">
      <Image src={profilePic} alt="Image of Sarthik Gupta" />
    </div>
  </main>
</Layout>
