---

---

<div class="markdown">
  <slot />
</div>

<style is:global>
  /* Global Styles */
  .markdown {
    text-rendering: optimizeLegibility;
    text-align: justify;

    --_color-heading: var(--grey-300);
    --_color-body: var(--grey-500);

    color: var(--_color-body);

    & h1 {
      margin: var(--space-l-xl) 0 var(--space-l);
      font-size: var(--fs-xl);
      line-height: var(--lh-1.4);
      color: var(--_color-heading);
      font-weight: 600;
    }
    & h2 {
      margin: var(--space-m-l) 0 var(--space-m);
      font-size: var(--fs-lg);
      line-height: var(--lh-1.4);
      color: var(--_color-heading);
      font-weight: 600;
    }
    & h3 {
      margin: var(--space-s-m) 0 var(--space-s);
      font-size: calc(var(--fs-lg) - 3px);
      line-height: var(--lh-1.4);
      color: var(--_color-heading);
      font-weight: 600;
    }
    & h4 {
      margin: var(--space-xs-s) 0 var(--space-xs);
      font-size: var(--fs-base);
      line-height: var(--lh-1.4);
      color: var(--_color-heading);
      font-weight: 600;
    }
    & h5 {
      margin: var(--space-xs-s) 0;
      font-size: calc(var(--fs-base) - 2px);
      line-height: var(--lh-1.4);
      color: var(--_color-heading);
      font-weight: 500;
    }
    & p {
      margin: var(--space-xs-s) 0;
      font-size: var(--fs-sm);
      line-height: var(--lh-2);
    }
    & a {
      font-size: var(--fs-sm);
      color: var(--_color-heading);
      line-height: var(--lh-2);
      text-decoration: none;
      border-bottom: 0.5px solid var(--_color-body);
      transition: opacity var(--transition-ease-slow);
      &:hover {
        opacity: 0.8;
      }
      &:focus {
        opacity: 0.8;
      }
    }
    & strong {
      font-size: var(--fs-sm);
      color: var(--_color-heading);
      font-weight: 500;
      line-height: var(--lh-2);
    }
    & em {
      font-size: var(--fs-sm);
      font-style: italic;
      line-height: var(--lh-2);
    }
    & u {
      font-size: var(--fs-sm);
      border-bottom: 0.5px solid var(--_color-body);
      text-decoration: none;
    }
    & ol,
    ul {
      padding-left: var(--space-l);
    }
    & li {
      margin: var(--space-2xs-xs) 0;
      font-size: var(--fs-sm);
      line-height: var(--lh-2);
    }
    & code {
      font-family: var(--font-code);
      color: var(--grey-400);
      font-size: var(--fs-xs);
      background-color: var(--grey-900);
      padding: calc(var(--space-3xs) / 1.5) calc(var(--space-2xs) / 1.4);
      border-radius: var(--radius-sm);
    }
    & .astro-code {
      margin: var(--space-2xs-xs) 0;
      padding: var(--space-2xs) var(--space-s);
      border-radius: var(--radius-md);
      background-color: var(--grey-900) !important;
      > code {
        font-size: calc(var(--fs-xs) + 1px);
        padding: unset;
        background-color: unset;
        line-height: 1.2;
      }
    }

    & blockquote {
      border-left: 4px solid var(--grey-800);
      font-style: italic;
      font-weight: 500;
      padding-left: var(--space-m);
      margin: var(--space-m) 0;
    }
    & table {
      margin: auto;
      margin-top: var(--space-xs);
      margin-bottom: var(--space-xs);
      border: 1px solid var(--grey-800);
      font-size: var(--fs-sm);
      line-height: var(--lh-2);
      border-radius: 1px;
    }

    & thead {
      border-bottom: 1px solid var(--grey-800);
    }
    & th {
      padding: 0 var(--space-2xs);
      color: var(--_color-heading);
      border-bottom: 1px solid var(--grey-800);
      &:not(:last-child) {
        border-right: 1px solid var(--grey-800);
      }
    }
    & td {
      padding: 0 var(--space-2xs);
      color: var(--_color-body);
      &:not(:last-child) {
        border-right: 1px solid var(--grey-800);
      }
    }
    & tr {
      &:not(:last-child) {
        & > td {
          border-bottom: 1px solid var(--grey-900);
        }
      }
    }
    & img {
      border-radius: var(--radius-md);
      min-width: 100%;
      height: auto;
    }
    & hr {
      margin: var(--space-xl) auto;
      border-color: var(--grey-800);
      width: var(--content-md);
      border-style: dotted none none;
      border-width: var(--space-2xs);
    }
    & .markdown__image--loading {
      animation: skeleton-loading 0.8s linear infinite alternate;
      color: transparent;
    }
  }

  @keyframes skeleton-loading {
    0% {
      background-color: var(--grey-800);
    }
    100% {
      background-color: var(--grey-900);
    }
  }

  /* Desktop Overrides */
  @media (min-width: 760px) {
  }
  /* Mobile Overrides */
  @media (max-width: 480px) {
    .markdown {
      text-align: left;
    }
  }
</style>
