---
import NavBarOption from "@component/NavBarOption.astro";
import { PageMap } from "@data/page";
---

<nav class="navbar">
  <ul class="navbar__list">
    {Object.values(PageMap).map((page) => <NavBarOption {page} />)}
  </ul>
</nav>

<style>
  @media (min-width: 760px) {
    .navbar {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      flex-shrink: 1;
      &__list {
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
</style>
