---
import type { PageInfo } from "@data/page";

interface Props {
  page: PageInfo;
}

const { page } = Astro.props;
const { pathname } = Astro.url;
---

<li
  class="navbar-option"
  class:list={[{ "navbar-option--active": pathname === page.url }]}
>
  <a class="navbar-option__link" href={page.url}>
    {page.label}
  </a>
</li>

<style>
  .navbar-option {
    list-style: none;
    padding: var(--space-2xs) var(--space-s);
    border-radius: var(--radius-md);
    cursor: pointer;
    transition: background-color var(--transition-ease-slow);
    &:hover {
      background-color: var(--grey-900);
      & .navbar-option__link {
        color: var(--grey-100);
      }
    }
    &--active {
      & .navbar-option__link {
        color: var(--grey-100);
        &::after {
          content: "";
          position: absolute;
          margin: 0px auto;
          top: 18px;
          left: 0px;
          right: 0px;
          height: 1px;
          width: 20px;
          background: var(--grey-100);
          transition: opacity var(--transitions-duration) ease-in-out;
        }
      }
    }
    &__link {
      position: relative;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--grey-500);
      font-size: var(--fs-xs);
      font-family: var(--fonts-heading);
      background-color: transparent;
      letter-spacing: 1.2px;
      transition: color var(--transition-ease-slow);
    }
  }
</style>
