---
import { getExperiences } from "@facade/experience";
import type { CollectionEntry } from "astro:content";

interface Props {
  experience: CollectionEntry<"experience">;
}

export async function getStaticPaths() {
  const experiences = await getExperiences();
  return experiences.map((experience) => ({
    params: { slug: experience.slug },
    props: { experience },
  }));
}

const { experience } = Astro.props;
const { Content } = await experience.render();
---

<article>
  <h1>{experience.data.designation} @ {experience.data.company}</h1>
  <Content />
</article>
