---
import "./section.css"

interface Props {
  title: string;
}

const {title} = Astro.props
---

<section class="section">
  <h2 class="section__title">{title}</h2>
  <div class="section__content">
    <slot></slot>
  </div>
</section>