.section {
  margin-top: var(--space-xl);
  width: 100%;
  &__title {
    font-family: var(--fonts-body);
    font-size: var(--fs-lg);
    color: var(--grey-200);
    font-weight: 700;
  }
  &__content {
    margin-top: var(--space-2xs);
  }
}
