---
import NavBar from "@component/navbar/navbar/NavBar.astro";
import "./header.css"

---

<header class="header">
  <a class="header__logo">
    <span class="header__logo__text">
      S
    </span>
  </a>
  <NavBar></NavBar>
  <div class="header__filler"></div>
</header>