.header {
  display: flex;
  width: 100%;
  justify-content: center;
  min-height: 59px;
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0px;
  &__logo {
    color: blue;
    font-size: var(--fs-xl);
  }
}
