---
import NavBar from "@component/NavBar.astro";
---

<header class="header">
  <a class="header__logo" href="/">
    <span class="header__logo__text"> S</span>
  </a>
  <NavBar />
  <div class="header__filler"></div>
</header>

<style>
  /* Global Styles */
  .header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 59px;
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 0px;
    &__logo {
      margin-left: 12px;
      height: var(--fs-xl);
      width: var(--fs-xl);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: var(--radius-md);
      cursor: pointer;
      text-decoration: none;
      font-family: var(--fonts-heading);
      background-color: var(--grey-900);
      &:hover {
        & .header__logo__text {
          color: var(--grey-400);
        }
      }
      &__text {
        font-weight: 700;
        color: var(--grey-200);
        font-size: var(--fs-lg);
        height: var(--fs-lg);
        transition: color var(--transition-ease-slow);
      }
    }
    &__filler {
      height: var(--fs-xl);
      width: var(--fs-xl);
      margin-right: 12px;
    }
  }

  /* Desktop Overrides */
  @media (min-width: 760px) {
  }
  /* Mobile Overrides */
  @media (max-width: 480px) {
    .header {
      flex-direction: column;
      margin-top: var(--space-xs);
      row-gap: var(--space-xs);
      &__filler {
        display: none;
      }
    }
  }
</style>
