---
import Body from "@layout/Body.astro";
import Footer from "@layout/Footer.astro";
import Head from "@layout/Head.astro";
import Header from "@layout/Header.astro";
import "@style/colors.css";
import "@style/global.css";
import "@style/reset.css";
import "@style/typography.css";
import "@style/variables.css";

interface Props {
  title: string;
  pageUrl: string;
  description?: string;
  imageUrl?: string;
}
const { title, description, pageUrl, imageUrl } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head {title} {description} {pageUrl} {imageUrl} />
  <Body>
    <Header />
    <slot />
    <Footer />
  </Body>
</html>
